* {
	margin: 0px;
	padding: 0px;
}

/* Propiedades para body */
body {
	text-align: left;
	color: #000;
	font-family: sans;
}

header {
	background-color: #FF530D;
	padding: 50px;
	text-transform: uppercase;
	text-shadow: 2px 3px #aa6688;
}

nav {
	width: 100%;
	height: 50px;
	border-bottom: 10px solid #E82C0C;
	background-color: #FF530D;
	-webkit-box-shadow: 0px 14px 17px -9px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 14px 17px -9px rgba(0,0,0,0.75);
	box-shadow: 0px 14px 17px -9px rgba(0,0,0,0.75);
}

nav li {
	display: inline;
	float: right;
	margin: 0px 10px 0px 10px;
	padding: 15px 20px 16px 20px;
	background-color: #E82C0C;
	border-radius: 20px 20px 0 0;
}

nav li:hover {
    /*background-color: white;*/
    background: radial-gradient(white, #E82C0C);
    /*color: #E82C0C;*/
    cursor: pointer;
    text-shadow: 1px 2px #aa6688;
}

.capa_base { /* capa que contiene las demas */
	width: 80%;
	margin: 0px auto;
	text-align: left;	
}

section {
	width: 65%;/*684px;*/
	margin: 20px 0;
	float: left;
	text-align: justify;
}

aside {
	margin-top: 20px;
	width: 30%;/*300px*/;
	float: right;
	background-color: #E82C0C;
	-webkit-box-shadow: 0px 4px 17px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 4px 17px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 4px 17px 1px rgba(0,0,0,0.75);
}

footer {
	clear: both;
	font-size: x-small;
	text-align: center;
	border-top: 10px solid #E82C0C;
	padding: 20px;
	/*background-color: #FF530D;*/
	background: linear-gradient(to bottom right, #FF530D, white);
}

article {
	/*background-color: white;*/
	color: black;
	/*padding-bottom: 30px;
	border-bottom: 2px solid #FF530D4D;
	margin-bottom: 10px;*/
	font-size: small;
}

article a {
    background-color: #e82c0c;
    border-radius: 100%;
    text-decoration: none;
    color: white;
}

article a:hover {
    background-color: #e82c0c;
    border-radius: 100%;
    text-decoration: none;
    color: white;
    font-size: large;
}

article p:last-child {
    border-bottom: 5px solid #FF530D4D;
    padding-bottom: 30px;
    border-radius: 15px;
}

article p::first-letter {
    font-size: x-large;
}

article header {
	padding: 30px 0;
	background: none;
	text-shadow: 1px 2px #aa6688;
}

aside img {
	width: 80%;
	padding: 10%;
}

aside img:hover {
	width: 70%;
	padding: 15%;
}

article p { 
	margin-bottom: 20px;
}

article cite {
    font-style: italic;
    margin: 0px 70px;
    display: block;
    font-weight: bold;
}

table {
	margin: auto;
	border-collapse: collapse;
}

table caption {
    color: white;
    background-color: #E82C0C;
    font-weight: bold;
    padding: 5px;
}

tr:nth-child(even) {background-color: #f2f2f2}
tr:last-child {
	font-weight: bold;
	background-color: #FF530D80;
}

th {
	background-color: #FF530D80;
}

td, th {
    padding: 5px 5px;    
    border-bottom: 1px solid #ddd;
    text-align: left;
}

fieldset div {
	width: 40%;
	float: left;	
	padding: 5%;
	text-align: left;
}

fieldset * {
    display: block;
}

aside fieldset {
    width: 75%;
    margin: 5%;
    padding: 5%;
}

section fieldset {
	padding: 10px;
}

#enviar {float: left;}
#reset {float: right;}

input, label {
	max-width: 80%;
	min-width: 50px;
}